{% extends "base.html" %}

{% block content %}


        <h1 class="text-center text-success"> {{ object.title }}</h1> <br/>
        {{object.timestamp|timesince}}atrás 
        <h3>{{"bom dia tags title, linebreaks, truncatewords"|title}}</h3>
        <h2 class=""> {{ object.description|linebreaks}} </h2><br/>
        
            <div class="row">
                <div class="col-3">

                {% if object.image %}
                   <img src='{{ object.image.url }}' class='img-fluid'/>
                {% endif %}
                </div>
            </div> 

             <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ object.image.url }}" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title"> {{object.title}}</h5>
                  {{object.timestamp|timesince}} atrás 
                  <h3>{{"bom dia tags title, linebreaks, truncatewords"|title}}</h3>
                  <p class="card-text">{{object.description|linebreaks}}</p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
              </div>
{% endblock content %}