{% extends "base.html" %}

{% block content %}


        <h1 class="text-center text-success"> {{ object.title }}</h1> <br/>
        <h2 class="text-center bg-success"> {{ object.description }} </h2><br/>
        
            <div class="row">
                <div class="col-3">

                {% if object.image %}
                   <img src='{{ object.image.url }}' class='img-fluid'/>
                {% endif %}
                </div>
            </div> 

             <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ object.image.url }}" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title"> {{object.title}}</h5>
                  <p class="card-text">{{object.description}}</p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
              </div>
{% endblock content %}