{% extends "base.html" %}
{% load static %}

<title> Home page</title>

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}'>
{% endblock base_head %}

{% block content %}
    <!-- Aqui vai tudo que é referente a home_page  -->
    <div class="row mb-3">
        <div class="col-sm-3 text-center border border-primary rounded my-1 py-3 text-primary">
            
                <span style="font-size: 3em; color: rgba(12, 9, 240, 0.904);">
                    <i class="fas fa-house-user"></i>
                </span>
                <h5>{{ title }}</h5>
        </div>
        <div class="col-sm-3 text-center border-top border-bottom border-primary rounded my-1  pt-3 text-primary">
                <span style="font-size: 3em; color:rgba(12, 9, 240, 0.904)">
                    <i class="far fa-grin-beam"></i>
                </span>
                <h5>    {{ content }} </h5>
        </div>
        <div class='col-sm-6 px-2 border border-primary rounded my-1 py-3 text-primary text-center'>
                <img src="{% static 'img/loja_virtual.jpg' %}" class='img-fluid' />
                <h5>{{ content }}</h5> 
        </div>
    </div>
        {% if request.user.is_authenticated %}
    <div class='row '>
        <div class='col-sm-10 bg-success text-center text-white  m-auto'>
                <h1>Premium</h1>
                <h2>{{ premium_content }} </h2>
        </div>
    </div>
        {% endif %}
    
{% endblock %}
