{% extends "base.html" %}
{% load static %}

<title> Home page</title>

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}'>
{% endblock base_head %}

{% block content %}
    <!-- Aqui vai tudo que é referente a home_page  -->
    <div class='text-center'>
        <span style="font-size: 3em; color: rgba(3, 218, 3, 0.904);">
            <i class="fas fa-house-user"></i>
          </span>
        <h1>{{ title }}</h1>
        <p><span style="font-size: 3em; color: rgb(86, 29, 245);">
            <i class="far fa-grin-beam"></i>
          </span>
            {{ content }}
        </p>
        
    </div>
    
        <div class='row'>
            <div class='col'>
                <img src="{% static 'img/loja_virtual.jpg' %}" class='img-fluid' />
                <p>{{ content }}</p> 
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class='row'>
            <div class='col'>
                <h1>Premium</h1>
                <p>{{ premium_content }}</p>
            </div>
        </div>
        {% endif %}
    
{% endblock %}
